@using QRCodeCore.Controllers;
@model List<ListDataModel>

@{
    ViewData["Title"] = "住民票一覧画面";
}
<link rel="stylesheet" href="~/css/view.css" />

<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>*@
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-primary" style="width: 100px;">印刷</button>
                </div>
                <div class="modal-body">
                    <img src="~/images/print.png" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
    <div class="search" style="margin-top: 20px">
        <div class="form-group row">
            <label for="inputEmail3" class="col-1 col-form-label">氏名</label>
            <div class="col-3">
                <input class="form-control" id="inputEmail3" placeholder="氏名">
            </div>

            <label for="inputEmail4" class="col-1 col-form-label">登録日付</label>
            <div class="col-3">
                <input class="form-control" id="inputEmail4" placeholder="登録日付">
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary" style="float: right; width: 100px;">検索</button>
            </div>
        </div>
        
    </div>

    <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr class="text-center">
                <th>郵便番号</th>
                <th>登録日付</th>
                <th>氏名</th>
                <th>住所</th>
                <th>ふりがな</th>
                <th>生年月日</th>
                <th>電話番号</th>
                <th>メールアドレス</th>
                <th>使用目的</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ZipCode</td>
                    <td>@item.NgaySinh.ToStringJp()</td>
                    <td><a href="@Url.Action("DetailData", "Home", new { modelId = item.Id })">@item.HoTen</a></td>
                    <td>@item.DiaChi</td>
                    <td>@item.Furigana</td>
                    <td>@item.NgaySinh.ToStringJp()</td>
                    <td>@item.SoDienThoai</td>
                    <td>@item.Email</td>
                    <td>@item.MucDich</td>
                    <td>
                        <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#exampleModal">
                            <span><img src="~/images/print-outline.svg" style="width: 18px" /></span>
                        </button>
                        <button type="button" class="btn btn-outline-primary btn-sm" >
                            変更
                        </button>
                        
                    </td>
                    @*<td>
                        <select asp-for="@item.TrangThai">
                            <option value="">-- Select --</option>
                            @if (item.TrangThai.HasValue)
                            {
                                @foreach (var value in Enum.GetValues(typeof(Status)))
                                {
                                    <option value="@value" selected="@value.Equals(item.TrangThai.Value)">@value</option>

                                }
                            }
                            else
                            {
                                @foreach (var value in Enum.GetValues(typeof(Status)))
                                {
                                    <option value="@value">@value</option>
                                }
                            }
                        </select>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-left">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">前</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">次</a>
            </li>
        </ul>
    </nav>
</div>
